:root {
	--color-bg: #353535;
	--dark-code-bg: #772e8a;
	--light-code-bg: #d32be2;
}
body {
	background-color: var(--color-bg);
	color: #d32be2;
}
header {
	text-align: center;
	margin: 25px 25% 25px 25%;
}
header h1 {
	font-size: 300%;
}
header p {
	color: white;
	margin: 15px 0 0 0;
}
main {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
}

.code-card {
	box-sizing: border-box;
	flex-grow: 1;
	width: 33%;
	max-width: 33%;
	padding: 10px;
}
.code-card section {
	border: 2px dashed white;
	height: 100%;
	border-radius: 10px;
	padding: 10px;
	margin: 10px 0px;
	position: relative;
	display: flex;
	flex-direction: column;
}
.code-card section h2 {
	margin: -35px 0 0 0;
	width: calc(100% - 15px);
	border: 2px solid white;
	background-color: var(--color-bg);
	font-size: 200%;
	padding: 5px;
	border-radius: 10px;
}
.code-card section div {
	position: relative;
	top: -25px;
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	height: max-content;
	flex: 1;
}
.code-card section div p {
	margin: 5px 0px;
	flex: 0;
}
.code-card section div code {
	flex: 1;
	color: white;
	background-image: linear-gradient(var(--dark-code-bg), var(--light-code-bg));
	padding: 20px 10px;
	border-radius: 10px;
	user-select: all;
}

footer {
	text-align: center;
	margin: 25px 0 50px 0;
}
@media screen and (max-width: 991px) {
	.code-card {
		width: 50%;
	}
}
@media screen and (max-width: 768px) {
	.code-card {
		width: 100%;
	}
}
